[submodule "open-scd-core"]
	path = open-scd-core
	url = https://www.github.com/openenergytools/open-scd-core
	branch = gh-pages
[submodule "oscd-shell"]
	path = oscd-shell
	url = https://www.github.com/OMICRONEnergyOSS/oscd-shell
	branch = gh-pages
[submodule "plugins/scl-editor-landing"]
	path = plugins/scl-editor-landing
	url = https://www.github.com/openenergytools/scl-editor-landing
	branch = gh-pages
[submodule "plugins/oscd-open"]
	path = plugins/oscd-open
	url = https://www.github.com/danyill/oscd-open
	branch = gh-pages
[submodule "plugins/oscd-save"]
	path = plugins/oscd-save
	url = https://www.github.com/openenergytools/oscd-save
	branch = gh-pages
[submodule "plugins/scl-validating"]
	path = plugins/scl-validating
	url = https://www.github.com/openenergytools/scl-validating
	branch = gh-pages
[submodule "plugins/oscd-publisher"]
	path = plugins/oscd-publisher
	url = https://github.com/openenergytools/oscd-publisher
	branch = gh-pages
[submodule "plugins/scl-wizarding"]
	path = plugins/scl-wizarding
	url = https://github.com/openenergytools/scl-wizarding
	branch = gh-pages
[submodule "plugins/oscd-communication"]
	path = plugins/oscd-communication
	url = https://github.com/openenergytools/scl-communication
	branch = gh-pages
[submodule "plugins/scl-ied-editor"]
	path = plugins/scl-ied-editor
	url = https://github.com/openenergytools/scl-ied-editor
	branch = gh-pages
[submodule "plugins/mbg-ied-editor"]
	path = plugins/mbg-ied-editor
	url = https://github.com/meinberg-sync/mbg-ied-editor.git
	branch = gh-pages
[submodule "plugins/mbg-ied-extractor"]
	path = plugins/mbg-ied-extractor
	url = https://github.com/meinberg-sync/mbg-ied-extractor.git
	branch = gh-pages
[submodule "plugins/mbg-ict-help"]
	path = plugins/mbg-ict-help
	url = https://github.com/meinberg-sync/mbg-ict-help.git
	branch = gh-pages
[submodule "plugins/oscd-background-wizard-events"]
	path = plugins/oscd-background-wizard-events
	url = https://github.com/OMICRONEnergyOSS/oscd-background-wizard-events.git
	branch = gh-pages
