* {
  --oscd-theme-primary: var(--mbg-primary-medium);
  --oscd-theme-secondary: var(--mbg-primary-dark);
  --oscd-theme-error: var(--mbg-error-red);

  --oscd-theme-base03: var(--mbg-blue-gray-900);
  --oscd-theme-base02: var(--mbg-blue-gray-800);
  --oscd-theme-base01: var(--mbg-blue-gray-700);
  --oscd-theme-base00: var(--mbg-blue-gray-600);
  --oscd-theme-base0: var(--mbg-blue-gray-400);
  --oscd-theme-base1: var(--mbg-blue-gray-300);
  --oscd-theme-base2: var(--mbg-blue-gray-200);
  --oscd-theme-base3: var(--mbg-blue-gray-50);

  --oscd-theme-text-font: 'Roboto';
  --oscd-theme-icon-font: 'Material Symbols Outlined';

  margin: 0px;
  padding: 0px;
}

@media (prefers-color-scheme: dark) {
  * {
    --oscd-theme-primary: var(--mbg-bg-primary-400);
    --oscd-theme-secondary: var(--mbg-blue-500);

    --oscd-theme-base03: var(--mbg-blue-gray-50);
    --oscd-theme-base02: var(--mbg-blue-gray-100);
    --oscd-theme-base01: var(--mbg-blue-gray-200);
    --oscd-theme-base00: var(--mbg-blue-gray-300);
    --oscd-theme-base0: var(--mbg-blue-gray-400);
    --oscd-theme-base1: var(--mbg-blue-gray-500);
    --oscd-theme-base2: var(--mbg-blue-gray-800);
    --oscd-theme-base3: var(--mbg-blue-gray-900);

    --mdc-theme-text-disabled-on-light: rgba(255, 255, 255, 0.38);
  }
}

abbr {
  text-decoration: none;
  border-bottom: none;
}