body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    325deg,
    var(--mbg-bg-primary-300),
    var(--mbg-open-scd-blue),
    var(--mbg-primary-light),
    var(--mbg-blue-300),
    var(--mbg-blue-700)
  );
  background-size: 300% 300%;
  animation: gradient-animation 20s ease infinite;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(
      325deg,
      var(--mbg-bg-primary-200),
      var(--mbg-bg-primary-300),
      var(--mbg-bg-primary-500)
    );
    background-size: 300% 300%;
    animation: gradient-animation 20s ease infinite;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  height: 100%;
  width: 100%;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}