* {
  --oscd-theme-primary: #0156AB;
  --oscd-theme-secondary: #28375a;
  --oscd-theme-error: #dc322f;

  --oscd-theme-base03: #0f1429;
  --oscd-theme-base02: #1e263b;
  --oscd-theme-base01: #212a40;
  --oscd-theme-base00: #323d54;
  --oscd-theme-base0: #475269;
  --oscd-theme-base1: #65728c;
  --oscd-theme-base2: #e1e6f0;
  --oscd-theme-base3: #f7f9fc;

  --oscd-theme-text-font: 'Roboto';
  --oscd-theme-icon-font: 'Material Symbols Outlined';

  --primary: var(--oscd-theme-primary);

  margin: 0px;
  padding: 0px;
}

abbr {
  text-decoration: none;
  border-bottom: none;
}
